<h1>Prime numbers</h1>

<%= form_tag '/primes', method: :get do %>
  <%= content_tag(:p) do %>
    Find first <%= text_field_tag :primes_count, nil, value: 10 %> primes
  <% end %>
  <%= submit_tag 'Find!' %>
<% end %>

<hr />

<%= @primes %>

